/* Supernova's CSS, Done By Dragotic. */

/* Body CSS */

body {
	background: url("http://i.imgur.com/ILoe9lz.png?1") bottom left no-repeat !important;
}

/* Header CSS */

.header {
    background: rgba(167, 81, 167, 0.5) url("http://i.imgur.com/KxjEkOs.png?1") left no-repeat;
}

.header .logo {
	opacity: 0;
}

.maintabbarbottom {
	background: #9D4287;
    border-color: #8D3B79;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
	background: #9D4287;
    border-color: #8D3B79;
    color: #E5E5E5;
    font-size: 8pt;
    text-shadow: none;
}

.tabbar a.button {
    background: #B1579B;
    border-color: #B1579B;
    color: #E5E5E5;
    font-size: 8pt;
    text-shadow: none;
}

.tabbar a.button:hover {
	background: #9F4E8B;
    border-color: #9F4E8B;
    color: #E5E5E5;
    font-size: 8pt;
    text-shadow: none;
}

.tabbar a.button.subtle-notifying {
    color: #E5E5E5;
    text-shadow: none;
}

.tabbar a.button.notifying.closable {
    background: #C078AF;
    border-color: #C078AF;
    color: #E5E5E5;
    font-size: 8pt; 
    text-shadow: none;
}

.tabbar a.button.notifying.closable:hover {
    background: #AC6C9D;
    border-color: #AC6C9D;
    color: #E5E5E5;
    font-size: 8pt;
    text-shadow: none;
}

.tabbar .closebutton {
	color: #E5E5E5;
    font-size: 9pt;
}

.tabbar .closebutton:hover {
	color: #E50000;
    font-size: 9pt;
}

.userbar .username {
	text-shadow: -1px -1px 0 #4C4C4C, 1px -1px 0 #000000, -1px  1px 0 #000000, 1px  1px 0 #4C4C4C;
}

.userbar button.icon {
    background: #9D4287;
    border-color: #8D3B79;
    color: #E5E5E5;
    text-shadow: 1px 1px 2px #000000;
}

/* Userlist CSS */

.userlist {
    background: rgba(157, 66, 135, 0.3);
    border-color: #9D4287;
}

.userlist li {
	background: #EDDCE9;
}

.userlist li:hover {
	background: rgba(244, 244, 244, 0.8);
}

/* Chat-Log CSS */

.chat-log {
	background: #FFCDF5 url("http://i.imgur.com/6ufQsQ4.png") top right no-repeat;
}

.chat-log-add {
    background: rgba(157, 66, 135, 0.3);
	border-color: #8D3B79;
    text-shadow: 1px 1px 1px #000000;
}

/* Roomlist CSS */

.ps-room.ps-room-light.scrollable {
    background: rgba(224, 102, 163, 0.8);
    color: #E5E5E5;
    text-shadow: none;
}

.roomlist h2 {
    color: #E5E5E5;
    text-shadow: -1px -1px 2px #E066A3, 1px -1px 2px #E066A3, -1px 1px 2px #E066A3, 1px 1px 2px #E066A3;
}

/* PM-Window CSS */

.pm-window h3 {
    background: rgba(157, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/dialga.png") no-repeat right bottom;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window h3:hover {
    background: rgba(200, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/palkia.png") no-repeat right bottom;;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window h3.pm-notifying {
    background: rgba(157, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/dialga.png") no-repeat right bottom;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window h3.pm-notifying:hover {
    background: rgba(157, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/dialga.png") no-repeat right bottom;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window.focused h3 {
    background: rgba(200, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/giratina.png") no-repeat right bottom;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window.focused h3:hover {
    background: rgba(200, 66, 135, 0.8) url("http://www.pokestadium.com/assets/img/sprites/misc/icons/giratina.png") no-repeat right bottom;
    border-color: #9D4287;
    background-position: 215px;
    color: #E5E5E5;
}

.pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
    color: #E5E5E5;
    font-size: 9pt;
}

.pm-window h3 .closebutton:hover {
    color: #E50000;
    font-size: 9pt;
}

.pm-window h3 .minimizebutton:hover {
	color: #C0FFFA;
    font-size: 9pt;
}

.pm-window h3 .closebutton:hover+.minimizebutton {
    color: #E5E5E5 !important;
    font-size: 9pt;
}

/* PM-Log CSS */

.pm-log-add {
    background: rgba(157, 66, 135, 0.3);
    border-color: #8D3B79;
}

.pm-log-add:focused {
    background: rgba(157, 66, 135, 1);
    border-color: #8D3B79;
}

/* Menugroup CSS */
.menugroup {
    background: rgba(157, 66, 135, 0.3);
	border: none;
    box-shadow: inset 1px 1px 2px #9F4E8B; 
}

.menugroup .button {
    background: #99004D;
    border-color: #99004D;
    color: #FFFFFF;
    text-shadow: none;
}

.menugroup .button:hover {
    background: #E60073;
    border-color: #E60073;
    color: #FFFFFF;
    text-shadow: none;
}

/* Misc CSS */

.textbox {
    background: #D8ABCD;
    border-color: #C299B8;
    box-shadow: inset 1px 1px 2px #C087B3;
}

.ps-popup {
    background: #D8ABCD;
    border-color: #C299B8;
    box-shadow: inset 1px 1px 2px #C087B3;
}

/* Dark Mode CSS */

.dark body {
	background: url("http://i.imgur.com/ILoe9lz.png?1") bottom left no-repeat !important;
}

.dark .header {
    background: rgba(167, 81, 167, 0.5) url("http://i.imgur.com/LtktGIK.png") bottom left no-repeat;
}

.dark .header .logo {
	opacity: 0;
}

.dark .chat-log {
	background: url("http://i.imgur.com/6ufQsQ4.png") top right no-repeat;
}

.dark .chat-log-add {
    background: rgba(157, 66, 135, 0.3);
	border-color: #8D3B79;
    text-shadow: 1px 1px 1px #000000;
}

.dark .pm-log-add {
    background: rgba(157, 66, 135, 0.3);
    border-color: #8D3B79;
}

.dark .userlist {
    background: rgba(157, 66, 135, 0.3);
    border-color: #9D4287;
}

.dark .userlist li {
	background: #EDDCE9;
}

.dark .menugroup {
	border: none;
    box-shadow: inset 1px 1px 2px #4C4C4C;
}